body {
    font-family: Arial, Helvetica, sans-serif;
}

legend {
    background-color: orange;
    color: darkred;
    text-align: center;
    border-radius: 15%;
}

fieldset {
    box-shadow: gray 5px -5px 10px;
    border: darkred 2px solid;
}

form {
    background-color: yellow;
    border: orange 2px solid;
    border-radius: 10px;
    box-shadow: gray 10px -10px 10px;
}

label {
    color: black;
    font-size: 120%;
}

button {
    background-color: orange;
    color: black;
    font-size: 150%;
    border-radius: 10px;
}