body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    float: right;
    width: 20%;
    border: darkgreen 2px solid;
}

nav ul {
    list-style-type: circle;
    line-height: 2em;
}

nav ul li a:hover {
    background-color: darkgreen;
    color: white;
}

header {
    width: 70%;
    background-color: lightgreen;
    box-shadow: green 5px 5px 5px;
    text-align: center;
    border: darkgreen 2px solid;
}

section {
    width: 70%;
    color: black;
    text-align: left;
}

footer {
    width: 70%;
    border: darkgreen 2px solid;
    text-align: center;
    color: darkgreen;
    font-size: smaller;
    box-shadow: green 5px 5px 5px;
}