body {
    font-family: monospace;
    font-size: 100%;
}

header {
    text-align: right;
    color: purple;
    background: linear-gradient(to bottom right, pink, yellow, pink, purple);
    border-bottom: 3px solid purple;
    width: 100%;
    padding: 25px 0px;
    margin: 10px 0px;
}

nav,
aside,
section,
footer {
    display: inline-block;
    vertical-align: top;
}

section {
    width: 50%;
    float: right;
    margin: 10px 10px;
    padding: 10px 10px;
}

section p {
    text-align: left;
    color: black;
}

nav {
    width: 15%;
    background: linear-gradient(to bottom right, pink, yellow, pink, purple);
    border-bottom: 3px solid purple;
    border-top: 3px solid purple;
    float: left;
    margin: 1px 50px 0px 10px;
    padding: 10px 5px 0px 20px;
}

nav:hover {
    background: linear-gradient(to bottom right, purple, pink, yellow, pink);
}

nav ul {
    list-style-type: square;
    text-align: left;
    line-height: 2;
}

nav ul li:hover {
    background-color: purple;
    color: white;
    font-weight: bold;
    padding: 1%;
}

aside {
    width: 20%;
    margin: auto;
}

aside p {
    color: purple;
}

footer {
    background: linear-gradient(to top left, pink, yellow, pink, purple);
    border-top: 3px solid purple;
    width: 100%;
    padding: 15px 0px;
    margin: 10px 0px;
}

footer p {
    text-align: center;
    color: purple;
    font-size: 80%;
}